@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-liver: #484349ff;
    --linen: #f9ebe0ff;
    --blue-munsell: #208aaeff;
    --kelly-green: #3ec300ff;
    --frostbite: #d741a7ff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
}

body {
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

span {
    font-style: italic;
}

.main {
    margin-top: 74px;
}

.centered-text-img {
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    .centered-text-img h2 {
        font-size: 3rem;
    }

    .centered-text-img p {
        font-size: 2.5rem;
    }

.center-hero-img {
    background: linear-gradient(rgb(0,0,0,0.60),rgb(0,0,0,0.60)), url("../images/portfolio.jpg") center/cover fixed no-repeat;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed; /* tekst sie rusza a obrazek nie */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.technologie {
    background: linear-gradient(rgb(0,0,0,0.60),rgb(0,0,0,0.60)), url("../images/technologie.jpg") center/cover fixed no-repeat;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed; /* tekst sie rusza a obrazek nie */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.contact {
    background: linear-gradient(rgb(0,0,0,0.60),rgb(0,0,0,0.60)), url("../images/contact.jpg") center/cover fixed no-repeat;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed; /* tekst sie rusza a obrazek nie */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-img {
    width: 30%;
}

.logo-img {
    width: 30vw;
}

.navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2137;
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: var(--dark-liver);
    }

    .navbar li {
        float: left;
    }

        .navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 25px 29px;
            text-decoration: none;
            transition: all 0.3s linear;
        }

            .navbar li a:hover {
                background-color: #2c2a2cff;
                transition: all 0.3s linear;
            }

.text-box {
    width: 100vw;
    padding: 4rem;
    margin: auto;
    background: #f9ebe0ff;
    position: relative;
    text-align: justify;
}

.tech-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.tile {
    flex-basis: 100%;
    border: 2px;
    padding: 3rem;
    color: #fff;
    background: var(--blue-munsell);
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: -16px 14px 32px -3px rgba(66, 68, 90, 1);
    margin: 0 auto;
    transition: all 0.1s linear;
}

#column:hover {
    transition: all 0.1s linear;
    background: #1e7897ff;
    box-shadow: -16px 14px 32px 0px rgba(66, 68, 90, 1);
    transform: translateY(-1rem) scale(1.05);
}

.footer {
    background-color: var(--dark-liver);
    left: 0;
    padding: 2rem;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .tech-section {
        flex-wrap: wrap;
    }

    .navbar
}